*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
    background-image: url(./img/signimg/bg1920.png);
}

#back{
    position: center;
}
.jumbotron{
    background:url(./img/signimg/1btn-18old.png) no-repeat center center;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: center;
}